li {
    font-style: italic;
    margin: -8px 20px;
}

h5 {
    color: white;
    font-size: xx-large;
    font-style: italic;
}

p {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: x-large;
}

.photo {
    margin: 5px 20px;
    height: 10px;
    width: 20px;
    background-color: aqua;
}

.carousel-item {
    height: 600px;
    width: 800px;
}

.box {
    font-style: italic;
    font-size: 10px;
    text-align: center;
    width: 1410px;
    height: 50px;
    position: static;
    animation-name: xyz;
    animation-duration: 1.5s;
    animation-iteration-count: 5;
    background-color: lightseagreen;
    /* extra animation effect */
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-direction: alternate;
}

@keyframes xyz {
    from {
        width: 100px;
    }
    to {
        width: 1000;
    }
}

.container {
    background-color: aquamarine;
}

#b {
    text-align: center;
    justify-content: center;
    background-color: black;
}

.R {
    list-style-type: none;
}

h1 {
    font-style: italic;
    text-align: center;
    font-weight: 45px;
}

.f {
    margin: 10px 0px;
}

.boxer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    width: 1480px;
    height: 50px;
    position: relative;
    animation-name: abc;
    animation-duration: 1s;
    animation-iteration-count: 2;
    background-color: tomato;
    /* extra animation effect */
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-direction: reverse;
}

@keyframes abc {
    from {
        width: 100px;
    }
    to {
        width: 1000;
    }
}

.animation {
    background-color: darkgoldenrod;
}

.s {
    text-align: center;
    background-color: darkcyan;
}

html {
    background-color: aquamarine;
}

.q {
    background-color: lightgoldenrodyellow;
    color: black;
    font-style: italic;
    border-color: crimson;
    border-radius: 25px;
    background-color: tomato;
}

.w {
    font-style: italic;
    text-align: center;
    margin: 0px 500px;
    background-color: yellow;
}